name: 'Deploy Python File to GCP Bucket'

on:
  push:
    branches:
    - master
    paths:
      - 'etl-spark/main.py'
  pull_request:
    branches:
    - master
    paths:
      - 'etl-spark/main.py'

jobs:
  deploy_script:
    name: 'Deploy Script'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Authenticate on GCS
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@0.2.1
        with:
          version: '270.0.0'
          service_account_key: ${{ secrets.GOOGLE_CREDENTIALS }}

      - name: Build
        run: yarn build

      - name: Deploy
        run: gsutil cp etl-spark/main.py gs://data-pipeline-combustiveis-br-pyspark-code/
